body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding: 20px;
}

form {
  background-color: white;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left; 
}

h2 {
  color: red;
  text-align: left; 
}

label {
  display: block;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea,
input[type="radio"],
input[type="checkbox"] {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"]{
    width: max-content;
}

textarea {
  height: 60px;
}

input[type="submit"],input[type="reset"] 
{
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

input[type="reset"] {
  background-color: #ccc;
  color: black;
}
